{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}FWW Real Estate CRM{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}

<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br/>
                <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a class="btn btn-xl btn-success" href='{% url "stanovi:lista_stanova" %}' role="button">STANOVI</a>
            <a class="btn btn-xl btn-warning" href='{% url "kupci:lista_kupaca" %}' role="button">KUPCI</a>
            <a class="btn btn-xl btn-dark" href='{% url "korisnici:lista_korisnika" %}' role="button">KORISNICI</a>
            <a class="btn btn-xl btn-danger" href='{% url "docs" %}' role="button">DOKUMENTACIJA</a>
            <a class="btn btn-xl btn-primary" href='/admin' role="button">ADMIN</a>
        </div>
    </div>
</div>


</div>


{% endif %}
{% endblock content %}